.stocks {
    .el-header {
        height: auto !important;

        h1 {
            font-size: 48px;
        }
    }

    .el-row {
        .el-col {
            margin-bottom: 20px;
        }
    }

    .el-card {
        &__header {
            text-align: center;

            h3 {
                font-weight: normal;
                font-size: 24px;
            }
        }
    }
}
