// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-subtitle: "Slabo", "Montserrat", Arial;
$font-title: "Montserrat", Arial;
$font-body: "Raleway", "Slabo", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dim: #606266;
$dark: #333333;
$light: #fcfcfc;
$bright: #ffffff;
$highlight: rgba(153, 225, 217);

$body-bg: #eee;

$less-dark: rgba(51, 51, 51, .74);
$loss-red: rgba(247, 86, 124, .54);
$profit-yellow: rgba(255, 250, 227, 1);
$profit-green: rgba(153, 225, 217, .54);

// General Variables
$mobile: 768px;
